{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Addlaptop page</title>
{% endblock %}

{% block content %}
    <form method="POST" class="jumbotron" style="width: 70%;margin: 2% 15%;">
        {% csrf_token %}
        <h2 style="text-align: center;">Laptop Registerations...</h2><br>
        <div style="margin: 1% 15%;">
        {{form|crispy}}
        </div>
        <div style="text-align: center;"><button type="submit" class="btn btn-success btn-lg">Laptop Register</button></div>
        <hr>
        <div style="text-align: center;"><a href="{% url 'show' %}">Laptop Lists</a></div>
        
    </form>
{% endblock %}