{% extends 'base.html' %}

{% block title %}
    <title>Show Laptop Page</title>
{% endblock %}

{% block content %}
<h2 style="text-align: center;">Laptop Lists....</h2><br>
<div style="text-align: left;width: 80%;margin: 3% 10%;"><a href="{% url 'add' %}"><button class="btn btn-success btn-lg">Laptop Registerations</button></a></div>
    <table class="table table-success" style="width: 80%;margin: 3% 10%;">
        <tr style="text-align: center;">
            <th>ID</th>
            <th>Laptop Name</th>
            <th>Laptop Company</th>
            <th>Laptop RAM</th>
            <th>Laptop ROM</th>
            <th>Laptop Price</th>
            <th>Laptop Processor</th>
        </tr>
        {% for order in object_list %}
        
            <tr style="text-align: center;">
                <td>{{order.id}}</td>
                <td>{{order.laptopname}}</td>
                <td>{{order.laptopCompany}}</td>
                <td>{{order.laptopram}}</td>
                <td>{{order.laptoprom}}</td>
                <td>{{order.laptopprice}}</td>
                <td>{{order.laptopprocessor}}</td>
                <td><a href="{% url 'update' order.id %}"><button class="btn btn-warning">Update Information</button></a></td>
                <td><a href="{% url 'delete' order.id %}"><button class="btn btn-danger">Delete Information</button></a></td>
            </tr>
        
        {% endfor %}
    </table>

{% endblock %}